<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title: ''}}</p>
    <center>
      <img src="../../../assets/icon/logo.png" width="90" height="90">
    </center>
    <h3>
      Finanças.io
    </h3>
  </ion-text>
</div>